<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Sample Test Suite" parallel="classes" thread-count="2">

    <parameter name="browserName" value="Chrome"/>
<!--    <parameter name="waitTimeOutInSeconds" value="10"></parameter>-->

<!--    <test name="Sample Test">-->
    <test name="LoginToJira">
        <classes>
            <class name="LoginToJira">
            <methods>
                <include name="successfulLoginTest"/>
            </methods>
            </class>
        </classes>
    </test>

    <listeners>
        <listener class-name="utils.TestNGListener"/>
    </listeners>

</suite>